<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.edu.zut.rwdb.system.mapper.RwbxMapper">

	<select id="findData" resultType="java.util.Map">
		select max(e.gid)gid,max(e.rwly)rwly,
		(case when max(e.rwly)=0 then '公司工作' when max(e.rwly)=1 then '部门工作' else '个人工作' end)gzlb
		,(case when max(e.rwlx)=0 then '重点工作' else '日常工作' end)gzlx
		,(case when max(e.czzt)=0 then '填单' when max(e.czzt)=1 then '待审核' else '审核通过' end)czzt
		,max(e.gznr)gznr,to_char(max(e.jssj),'yyyy-mm-dd')jssj
        ,max(e.gzbz)gzbz,max(e.rwlx)rwlx,max(e.czzt)zt,to_char(wm_concat(e.yhdm))yhdm,
        max(e.shr)shr,to_char(max(e.kssj),'yyyy-mm-dd')kssj,to_char(wm_concat(e.yhmc))zrzt from(
        select a.gid,a.rwly,a.gznr,a.jssj,a.gzbz,a.rwlx,a.czzt,a.cjr,
        a.shr,a.kssj,c.yhdm,
        (select xsmc from rwdb_xtyhxx x where c.yhdm=x.yhdm)yhmc
        from rwdb_rwbxjsh a
        left join
         (select b.rwid,b.yhdm from rwdb_taskzrzt b )c on  c.rwid=a.gid
        where  a.cjr=#{yhdm}
        )e group by gid
	</select>
    <select id="findZrzt" resultType="java.util.Map">
		select a.yhdm,a.xsmc from Rwdb_Xtyhxx a,rwdb_xtpost b,rwdb_postop c
        where a.yhdm=c.yhdm and b.postid = c.postid and b.postname=#{jsmc}
	</select>
    <select id="findUserRole" resultType="java.util.Map">
		select b.postname,b.postid from Rwdb_Xtyhxx a,rwdb_xtpost b,rwdb_postop c
        where a.yhdm=c.yhdm and b.postid = c.postid and a.yhdm=#{yhdm}
	</select>
    <select id="findShyh" resultType="java.util.Map">
		select a.yhdm,a.yhmc,a.xsmc ,e.scompname dybm
        from Rwdb_Xtyhxx a,rwdb_xtpost b,rwdb_postop c
        ,rwdb_unitdept d,rwdb_organization e
        where a.yhdm=c.yhdm and b.postid = c.postid and d.yhdm=a.yhdm and d.dept=e.compid
        and b.postname=#{jsmc}
	</select>
    <insert id="savaRwxx">
        insert into RWDB_RWBXJSH(gid, rwly, gznr, jssj, gzbz, rwlx, czzt, cjr, cjsj, kssj)
        values (#{gid},  #{gzlb},#{gznr}, TO_DATE(#{jssj},'YYYY-MM-DD') ,  #{gzbz},   #{gzlx},0,  #{cjr}, sysdate,  TO_DATE(#{kssj},'YYYY-MM-DD') )
    </insert>
    <insert id="savaZrzt">
        insert into RWDB_TASKZRZT(gid, rwid, yhdm, cjsj)
        values (#{gid},  #{rwid},#{zrzt}, sysdate)
    </insert>
    <update id="updateRwxx">
        update RWDB_RWBXJSH set rwly=#{gzlb}, gznr=#{gznr}, gzbz=#{gzbz}
        , rwlx=#{gzlx}, kssj=TO_DATE(#{kssj},'YYYY-MM-DD'), jssj=TO_DATE(#{jssj},'YYYY-MM-DD')  where gid=#{gid}
    </update>
    <update id="sumitRw">
        update RWDB_RWBXJSH set CZZT=#{czzt},SHR=#{yhdm}  where gid=#{gid}
    </update>
    <delete id="deleteZrzt">
        delete from RWDB_TASKZRZT where RWID=#{gid}
    </delete>
</mapper>